@import 'src/styles/variables.scss';

.item__overview {
    padding: 2em;
    position: relative;
    align-items: center;
    display: flex;
    width: calc(100% - 2 * 2em);
    height: calc(100% - 2 * 2em);
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

    &__preview {
        width: 75%;
        display: block;

        &__headline {
            font-size: 2em;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.05em;
        }

        &__picture {
            position: relative;
            
            img {
                display: block;
                width: 50%;
                margin: auto;
            }

            &::before {
                content: "";
                z-index: -1;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background: radial-gradient(circle, $special-color 0%, rgba(0,0,0,0) 50%);
                min-height: 500px;
                min-width: 500px;
                opacity: .2;
                animation-name: pulsing;
                animation-iteration-count: infinite;
                animation-duration: 2s;
                animation-timing-function: ease-in-out;

                @keyframes pulsing {
                    0% {
                        opacity: .3;
                    }
                    50% {
                        opacity: .4;
                    }
                    100% {
                        opacity: .3;
                    }
                }
            }
        }
    }

    &__close {
        position: absolute;
        left: 0;
        top: 0;

        button {
            color: white;
        }
    }
}
