@import 'src/styles/variables.scss';

$background-color: #1a2226;

.inventory {
    background-color: $background-color;
    width: calc(100% - 2 * 1em);
    overflow-y: auto;
    padding: 1em;

    &__category {
        &__header {
            display: flex;
            justify-content: center;
            color: $special-color;
        }

        &__list {
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 1em;
            row-gap: 1em;

            &__element {
                list-style: none;
            }
        }
    }
}
