.app {
    display: grid;
    height: 100vh;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'router inventory';

    @media (max-width: 1280px) {
        grid-template-columns: 2fr 1fr;
    }

    @media (max-width: 960px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 640px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: 'router' 'inventory';
    }

    &__router {
        grid-area: router;
    }

    &__inventory {
        grid-area: inventory
    }
}