@import 'src/styles/variables.scss';

.item {
    border: 3px solid $primary-color;
    display: block;
    
    &__portrait {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.item--active {
    border-color: $highlight-color;
}